.container .card .content a{
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    background-color: rgb(172, 6, 130) ;
    color: white;
    font-weight: 500;
    text-decoration: none;
}