.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card {
    text-align: center;
    width: 20%;
    background-color: aliceblue;
    padding: 30px;
}
.card:hover .content-text {
    display: block;
}
.container img {
    border-radius: 20px;
    
}
.content-text {
    display: none;
    animation-name: slow-mo;
    animation-duration: 2.5s;
    animation-delay: 1.3s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
}
@keyframes slow-mo {
    0%{transform: rotateX(0);}
    100%{transform: rotateX(90deg);}
}
.content-text h2 {
    color: rgb(172, 6, 130);
}
.container .card .content a{
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    background-color: rgb(172, 6, 130) ;
    color: white;
    font-weight: 500;
    text-decoration: none;
}
.container .card .content a:hover {
    opacity: 0.8;
    background-color: black;
    color: aqua;
}