* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(125, 98, 10, 0.345) ;
}

.container {
    background-color: rgba(24, 64, 116, 0.295);
    padding: 20px 40px;
}

.container h1 {
    text-align: center;
    font-size: 50px;
    padding: 15px 0;
    background: url('../images/nature.jpeg');
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-position: center;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 20px;
}

form input {
    padding: 4px 0;
}

/* Spinner Styles */
.spinner {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    position: absolute;
    right: 60px;
    top: 40px;
    /* transform: translate(-50%, -50%); */
}

/* Hidden by default */
.hidden {
    display: none;
}

/* Spinner Animation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
